{% load static %}

<html>

    <head>
        <title>VotReg</title>
        <link rel="stylesheet" type="text/css" href="static/style/style.css">
    
    </head>

    <body>
        <h1>Exercise your right. Register to Vote.</h1>
        <h2>Choose your state!</h2>
    <form method = "POST" action = "/" name = "search_form" id = "search_form">
        <!-- "search_form used in the index view for the search filter" -->
        {% csrf_token %}
        <!-- <input type="text" name="state_name" id = "state_name" value = "{{ search }}"><br> -->
         <!-- {{ search }} comes from index.views -->
<!--         <input type="submit" name = "search_state" id = "search_state" value="Submit">
 -->
        <select name = "state_name" id = "state_name" form = "search_form" onchange = "search_state">
    {#once the if statement runs in views.index, state_name, which is the selected state, is used to redirect to the state pages url#}
            {% for i in states %}
                <option name = "state_select" value = "{{ i.name }}">{{ i.display }}</option>
            {% endfor %}

        </select>

        <input type="submit" name = "search_state" id = "search_state" value="Submit">
{#    when submit it clicked the if statement in views.index starts running and refers to state_name in select#}
    </form>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="{% static "maps/datamap.usa.min.js" %}"></script>
    <div id="container" style="position: absolute; width: 1300px; height: 780px; left: 70px"></div>
    <script>
        var map = new Datamap({
            element: document.getElementById('container'),
            scope: 'usa',
            done: function(datamap) {
            datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {

                var links = document.getElementById("state_"+ geography.properties.name.toUpperCase()
                )

{#                function toggle_link(x){#}
{#                    for (y in geography.properties.name.toUpperCase()) {#}
{#                        y.style.display = 'none';#}

{#                        if (x.style.display == 'none')#}
{#                            x.style.display = 'block';#}
{#                        else#}
{#                            x.style.display = 'none';#}
{#                    }#}
{#                toggle_link(links);#}
                console.log(links);
                links.style.display = "inline-block";
                var rect = this.getBoundingClientRect();
                console.log(rect);
                links.style.left = rect.left;
                links.style.top = rect.top;
                console.log(links);
                if (window.lastlink) {
                    window.lastlink.style.display = 'none';

                }
                window.lastlink = links;
                console.log (window.lastlink);




                // console.log(geography);s
{#                window.location = "/state/" + geography.properties.name.toUpperCase().replace(' ', '_') + "/";#}
            });
        }
    })
    </script>

        <!-- {% if states %}
            <ul>
                {% for state in states %}
                {% if state_name = state %}
                <li><a href="/state/{{ state.name }}">{{ state }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no states present.</strong>
       {% endif %} -->

       <div id="regions_div" style="width: 900px; height: 500px;"></div>
    {% for state in state_list %}
                <div class="state-links" id="state_{{ state.name }}">{{ state.name }}

                    {% if state.pages %}
                        {% for page in state.pages.all %}
                        <div class = "page-links"><a href="{{ page.url }}">{{ page.title }}</a></div>
                        {% endfor %}
                    {% endif %}
                </div>
    {% endfor %}

    </body>
</html>