<!DOCTYPE html>
<html>
    <head>
        <title>VotReg</title>
    </head>

    <body>
        <h1>{{ state_name }}</h1>
        <!-- state_name imported from views.state, def state from the views.py file -->
        {% if state %}
        <!-- state imported from views.state -->
            {% if pages %}
            <!-- pages imported from views.state -->
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in state.</strong>
            {% endif %}
        {% else %}
            The specified state {{ state_name }} does not exist!
        {% endif %}
    </body>
</html>
